
/* Your CSS C.ode here. */
.box1{
	border:15px solid blue;
	padding:50px;
	margin:20px;
	background-color:lightblue;
	
}
div  div{
	border:1px solid black;
	width:300px;
	background-color:lightblue;
}

